.modalBg {
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #000000c4;
	display: flex;
	justify-content: center;
	align-items: center;
}

// .modalBody {
// 	// padding: 30px 40px;
// 	width: 425px;
// 	height: 441px;
// 	background-color: var(--secondary-dark);
// 	border-radius: 10px;
// 	position: relative;
// }
