.wrapper {
	padding: 20px 40px;
	display: flex;
	justify-content: center;
	flex: 1;
	position: relative;

	@media screen and (max-width: 580px) {
		padding: 20px 10px;
	}
}

.toggleBtn {
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 40px;
	display: flex;
	align-items: center;

	@media screen and (max-width: 900px) {
		right: 65px;
		left: auto;
		top: 20px;
	}

	@media screen and (max-width: 640px) {
		right: 65px;
		left: auto;
		top: 20px;
	}
}

.cardViewButton {
	&:global(.hidden) {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		width: 0;
	}
}

.listViewButton {
	&:global(.hidden) {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		width: 0;
	}
}

.addNoteButton {
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 80px;
	display: flex;
	align-items: center;

	@media screen and (max-width: 1024px) {
		top: 9px;

		> img {
			width: 50px;
			height: 50px;
		}
	}

	@media screen and (max-width: 900px) {
		right: 100px;
		left: auto;
		top: 9px;
	}

	@media screen and (max-width: 640px) {
		right: 100px;
		left: auto;
		top: 10px;
	}
}

.modalBody {
	padding: 30px 30px 20px 30px;
	width: 360px;
	height: 200px;
	background-color: var(--secondary-dark);
	border-radius: 10px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 540px) {
		padding: 15px 15px 10px 15px;
		width: 300px;
		height: 180px;
	}
}

.createNewNoteForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	@media screen and (max-width: 540px) {
		gap: 15px;
	}
}

.newNoteTitle {
	width: 100%;
	height: 40px;
	background-color: var(--main-gray);
	border-radius: 10px;
	border: none;
	padding: 8px 10px;
	color: var(--main-dark);
	font-size: 20px;

	@media screen and (max-width: 540px) {
		height: 30px;
		font-size: 18px;
	}

	&::placeholder {
		color: var(--main-dark);
	}
}

.createButton {
	padding: 8px 60px;
	background-color: var(--main-gray);
	border-radius: 10px;
	border: none;
	color: var(--main-dark);
	font-size: 20px;

	@media screen and (max-width: 540px) {
		font-size: 18px;
		padding: 8px 40px;
	}
}

.inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 19px;
	width: 100%;

	@media screen and (max-width: 640px) {
		margin-top: 50px;
	}
}

.search {
	position: relative;
}

.searchInput {
	width: 400px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--secondary-dark);
	color: #fff;
	border: none;
	padding: 0 20px 0 60px;

	@media screen and (max-width: 900px) {
		height: 30px;
		width: 340px;
	}

	@media screen and (max-width: 768px) {
		width: 240px;
		padding: 0 10px 0 45px;
	}

	@media screen and (max-width: 530px) {
		width: 200px;
	}

	@media screen and (max-width: 480px) {
		width: 140px;
	}
}

.searchImage {
	position: absolute;
	left: 15px;
	top: 5%;

	@media screen and (max-width: 900px) {
		top: 10%;

		> img {
			width: 70%;
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style: none;
	margin-top: auto;
}

.paginationItem {
	font-size: 22px;
}
