.wrapper {
	padding: 20px 40px;
	display: flex;
	justify-content: center;
	flex: 1;
	position: relative;

	@media screen and (max-width: 580px) {
		padding: 20px 10px;
	}
}

.toggleBtn {
	position: absolute;
	top: 25px;
	left: 40px;

	@media screen and (max-width: 900px) {
		right: 65px;
		left: auto;
		top: 17px;
	}

	@media screen and (max-width: 815px) {
		right: 17px;
		top: 59px;
	}

	@media screen and (max-width: 640px) {
		right: 65px;
		left: auto;
		top: 17px;
	}
}

.inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 19px;

	@media screen and (max-width: 640px) {
		margin-top: 50px;
	}
}

.search {
	position: relative;
}

.searchInput {
	width: 400px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--secondary-dark);
	color: #fff;
	border: none;
	padding: 0 20px 0 60px;

	@media screen and (max-width: 900px) {
		height: 30px;
		width: 340px;
	}

	@media screen and (max-width: 768px) {
		width: 240px;
		padding: 0 10px 0 45px;
	}

	@media screen and (max-width: 530px) {
		width: 200px;
	}

	@media screen and (max-width: 480px) {
		width: 140px;
	}
}

.searchImage {
	position: absolute;
	left: 15px;
	top: 5%;

	@media screen and (max-width: 900px) {
		top: 10%;

		> img {
			width: 70%;
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style: none;
	margin-top: auto;
}

.paginationItem {
	font-size: 22px;
}
