.wrapper {
	padding: 20px 40px;
	display: flex;
	flex: 1;
	position: relative;

	@media screen and (max-width: 580px) {
		padding: 20px 10px;
	}
}

.addHabitButton {
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 40px;
	display: flex;
	align-items: center;

	@media screen and (max-width: 1024px) {
		> img {
			width: 50px;
			height: 50px;
		}
	}

	@media screen and (max-width: 900px) {
		right: 65px;
		left: auto;
		top: 8px;
	}

	@media screen and (max-width: 640px) {
		right: 65px;
		left: auto;
		top: 10px;
	}
}

.inner {
	margin-top: 100px;

	@media screen and (max-width: 1120px) {
		width: 100%;
		overflow-y: auto;
	}
}

.habitsList {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-height: 800px;
	overflow-y: auto;

	@media screen and (max-width: 900px) {
		gap: 15px;
		// max-height: 720px;
	}
}

.habit {
	list-style: none;
	min-width: 750px;
	background-color: var(--secondary-dark);
	border-radius: 10px;
	padding: 40px 20px 40px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	@media screen and (max-width: 1120px) {
		min-width: 0;
		width: 90%;
		padding: 20px 10px 20px 20px;
	}

	@media screen and (max-width: 900px) {
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		padding: 10px 5px 10px 10px;
	}

	@media screen and (max-width: 460px) {
		padding: 10px 25px 10px 15px;
	}
}

.habitName {
	font-size: 32px;
	color: var(--white-for-dark);
	// padding-right: 15px;
	max-width: 80%;
	margin-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media screen and (max-width: 1120px) {
		font-size: 28px;
	}

	@media screen and (max-width: 900px) {
		font-size: 24px;
	}

	@media screen and (max-width: 768px) {
		font-size: 20px;
	}

	@media screen and (max-width: 460px) {
		font-size: 15px;
		max-width: 60%;
	}
}

.completeButton {
	background-color: var(--main-gray);
	border-radius: 10px;
	padding: 8px;

	> img {
		width: 50px;
		height: 50px;

		@media screen and (max-width: 1120px) {
			width: 40px;
			height: 40px;
		}

		@media screen and (max-width: 768px) {
			width: 25px;
			height: 25px;
		}

		@media screen and (max-width: 460px) {
			width: 18px;
			height: 18px;
		}
	}

	@media screen and (max-width: 1120px) {
		padding: 2px 4px;
		margin-right: 20px;
	}

	@media screen and (max-width: 460px) {
		margin-right: 0;
	}
}

.modalBody {
	padding: 30px 30px 20px 30px;
	width: 360px;
	height: 200px;
	background-color: var(--secondary-dark);
	border-radius: 10px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 540px) {
		padding: 15px 15px 10px 15px;
		width: 300px;
		height: 180px;
	}
}

.createNewHabitForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	@media screen and (max-width: 540px) {
		gap: 15px;
	}
}

.newHabitName {
	width: 100%;
	height: 50px;
	background-color: var(--main-gray);
	border-radius: 10px;
	border: none;
	padding: 8px 10px;
	color: var(--main-dark);
	font-size: 24px;

	@media screen and (max-width: 540px) {
		font-size: 20px;
	}

	&::placeholder {
		color: var(--main-dark);
	}
}

.createButton {
	padding: 12px 30px;
	background-color: var(--main-gray);
	border-radius: 10px;
	border: none;
	color: var(--main-dark);
	font-size: 20px;

	@media screen and (max-width: 540px) {
		font-size: 18px;
	}
}

.deleteButton {
	position: absolute;
	top: 5px;
	right: 5px;

	> img {
		width: 20px;
		height: 20px;
	}

	@media screen and (max-width: 768px) {
		top: 2px;

		> img {
			width: 16px;
			height: 16px;
		}
	}
}

.completedSpan {
	font-size: 12px;
	color: #16c347;
	margin-right: 20px;

	@media screen and (max-width: 460px) {
		margin-right: 0;
	}
}
