.layout {
	position: relative;
	display: flex;
	height: 100vh;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-left: 40px;
	padding-right: 40px;
	border-right: 1px solid var(--main-gray);
	border-radius: 30px;
	transition: all 0.3s;

	&:global(.hidden) {
		width: 0;
		transform: translateX(-1000%);
	}

	@media screen and (max-width: 1440px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media screen and (max-width: 1024px) {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media screen and (max-width: 900px) {
		// position: absolute;
		// left: -1000%;
	}

	@media screen and (max-width: 450px) {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.logo {
	@media screen and (max-width: 1024px) {
		max-width: 75%;
		align-self: center;
	}

	@media screen and (max-width: 480px) {
		// max-width: 65%;
	}
}

.toggleButton {
	display: none;
	transform: translateX(500%);
	transition: transform 0.3s;

	&:global(.closed) {
		transform: rotate(180deg);

		@media screen and (max-width: 450px) {
			top: 10px;
		}
	}

	@media screen and (max-width: 900px) {
		display: block;
		position: absolute;
		top: 10px;
		left: 15px;
	}

	@media screen and (max-width: 450px) {
		top: 80px;
		transform: translateX(150%);
	}

	@media screen and (max-width: 375px) {
		left: 0;
	}
}

.settingsButton {
	position: absolute;
	top: 15px;
	right: 40px;

	@media screen and (max-width: 1440px) {
		right: 30px;
	}

	@media screen and (max-width: 1024px) {
		top: 13px;
		right: 15px;
		> img {
			width: 40px;
			height: 40px;
		}
	}
}

.brain {
	width: 138px;
	height: 138px;
	margin-bottom: 57px;
	align-self: center;

	@media screen and (max-width: 1440px) {
		width: 120px;
		height: 120px;
		margin-bottom: 45px;
	}

	@media screen and (max-width: 1024px) {
		width: 90px;
		height: 90px;
		margin-bottom: 20px;
	}
}
