.wrapper {
	padding: 20px 40px;
	position: relative;
	display: flex;
	flex: 1;
	overflow-x: auto;

	@media screen and (max-width: 650px) {
		padding: 20px 10px;
	}
}

.inner {
	position: relative;
	width: 100%;

	@media screen and (max-width: 600px) {
		margin-top: 45px;
	}
}

.projectTitle {
	margin-bottom: 53px;
	display: flex;
	align-items: center;
	gap: 10px;

	> h2 {
		font-size: 42px;

		@media screen and (max-width: 1440px) {
			font-size: 36px;
		}

		@media screen and (max-width: 768px) {
			font-size: 32px;
		}

		@media screen and (max-width: 650px) {
			font-size: 28px;
			max-width: 230px;
		}

		@media screen and (max-width: 600px) {
			max-width: 100%;
		}
	}

	@media screen and (max-width: 1024px) {
		margin-bottom: 30px;
	}

	@media screen and (max-width: 900px) {
		margin-left: 30px;
	}

	@media screen and (max-width: 650px) {
		margin-left: 55px;
	}

	@media screen and (max-width: 600px) {
		margin-left: 0;
	}
}

.editTitleButton {
	> img {
		width: 30px;
		height: 30px;
	}
}

.deleteProjectButton {
	> img {
		width: 30px;
		height: 30px;
	}
}
