.columnContainer {
	display: flex;
	flex-direction: column;
	gap: 43px;
	width: 334px;
	height: 500px;
}

.titleAndDelete {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.columnTitle {
	color: var(--white-for-dark);
	font-size: 36px;
}

.deleteColumnButton {
	> img {
		width: 24px;
		height: 24px;
	}
}

.editTitleInput {
	background-color: var(--main-gray);
	border: none;
	border-radius: 10px;
	color: var(--main-dark);
	outline: none;
	padding: 8px 10px;
	font-size: 28px;
}

.addNewTask {
	display: flex;
	align-items: center;
	margin-top: 20px;
	gap: 10px;

	> img {
		width: 33px;
		height: 33px;
	}

	> span {
		font-size: 22px;
		color: var(--white-for-dark);
	}
}

.tasks {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
