.inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	margin-bottom: 20px;
}

.alreadyButton {
	margin-top: 20px;
	color: var(--white-for-dark);
	text-decoration: underline;
}
