.inner {
	display: flex;
	align-items: flex-start;
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom: 5px;

	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar:vertical {
		height: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--secondary-dark);
		border-radius: 10px;
	}

	@media screen and (max-width: 1440px) {
		padding-bottom: 15px;
	}

	@media screen and (max-width: 650px) {
		padding-bottom: 30px;
	}
}

.addNewColumnButton {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 71px;

	@media screen and (max-width: 1440px) {
		margin-left: 55px;
	}

	@media screen and (max-width: 1024px) {
		margin-left: 35px;

		> img {
			width: 35px;
			height: 35px;
		}
	}

	@media screen and (max-width: 768px) {
		margin-left: 26px;
	}

	@media screen and (max-width: 650px) {
		margin-left: 18px;

		> img {
			width: 25px;
			height: 25px;
		}
	}

	> span {
		font-size: 28px;
		color: var(--white-for-dark);
		white-space: nowrap;

		@media screen and (max-width: 1440px) {
			font-size: 26px;
		}

		@media screen and (max-width: 650px) {
			font-size: 22px;
		}
	}
}

.columns {
	display: flex;
	align-items: center;
	gap: 71px;

	@media screen and (max-width: 1440px) {
		gap: 55px;
	}

	@media screen and (max-width: 1024px) {
		gap: 35px;
	}

	@media screen and (max-width: 768px) {
		gap: 26px;
	}

	@media screen and (max-width: 650px) {
		gap: 18px;
	}
}
