.inner {
	display: flex;
	align-items: flex-start;
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom: 5px;

	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar:vertical {
		height: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--secondary-dark);
		border-radius: 10px;
	}
}

.addNewColumnButton {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 71px;

	> span {
		font-size: 28px;
		color: var(--white-for-dark);
		white-space: nowrap;
	}
}

.columns {
	display: flex;
	align-items: center;
	gap: 71px;
}
